.btn{
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	padding: 6px 35px;
	border: 2px solid #ff0000;
	border-radius: 5px;
	color:#ff0000 ;
	transition:all 0.2s linear ;
	

}
.btn:hover{
	background-color:#ff0000 ;
	color: #ffffff;
}